.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.game {
  padding: 5px;
  width: fit-content;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
}
.game__info {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}
.game__info--image {
  padding: 5px;
  border: 1px solid gray;
  width: 120px;
  margin-bottom: 5px;
}
.game__control {
  display: grid;
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.game__control .point {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.game__control .point:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(image.png);
  background-position: var(--top) var(--left);
  background-size: cover;
}
.game__control .point.empty:after {
  content: "";
  z-index: 1;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  background-position: var(--top) var(--left);
  background-size: cover;
}
